<!DOCTYPE html>
<html lang="en">
<head><%- include('../views/head.ejs') %>
</head>
<body>
    <h1>Best Books!</h1>
    <h2>Saved Books</h2>
    <% books.forEach(book => { %>
    <ul>
        <img src="<%= book.image_url %>"/>
        <li class="title"><%= book.title  %></li>
    <br>
        <li class="author"><%= book.author %></li>
    <br>
        <a href="./books/<%= book.id %>">View Details</a>  
    </ul>
    <% }) %>
</body>
</html>