<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head') %>
<body>
    <%- include('./partials/header-nav') %>
    <h1 class="clearfix">Best Books!</h1>
    <h2>Saved Books</h2>
    <% books.forEach(book => { %>
    <ul>
        <img src="<%= book.image_url %>"/>
        <li class="title"><%= book.title  %></li>
    <br>
        <li class="author"><%= book.author %></li>
    <br>
        <a href="./books/<%= book.id %>">View Details</a>  
    </ul>
    <% }) %>
</body>
</html>