<!DOCTYPE html>
<html lang="en">
<%- include('../partials/head') %>
<body>
<%- include('../partials/header-nav') %>
    <h1 class="clearfix">Details</h1>
    
    <%= newBook %>
        <% book.forEach(data => { %>
            <ul>
                <li><img src="<%= data.image_url %>"/></li>
                <li class="title">Title: <%= data.title  %></li>
                <li class="author">Author: <%= data.author %></li>
                <li><%= data.description %></li>
                <li>ISBN: <%= data.isbn %></li> 
            </ul>
            <% }) %>
            <a href="../books">Return to Book List</a>
</body>
</html>
